# Object files
*.o
*.ko
*.obj
*.elf
*.BAT
output/
*.htm
*.ls1

# Keil files
*.lst
*.m51
*.Opt
*.Bak
*.uvopt
*.uvgui.Administrator
*.Uv2

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/